*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
}

.content{
    width:500px;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.text{
    width: 100%;
    height: 30%;
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
}
i{
    color: red;

}
.buttons button{
    outline: 0;
    border: 0;
    background-color: transparent;
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid black;
}
img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}